<html>
<head>
    <title>Page Principale</title>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
</head>
<body>
<center>
<h1><u>Gestion des utilisateurs</u></h1>
<form name="frm" method="post" action="utilisateur/controler-user.php">
	<input type="submit" name="cr" value="Create User" />
	<p />
	<input type="submit" name="del" value="Delete User" />
	<p />
	<input type="submit" name="gt" value="Get User" />
</form>
    <a href="../index.html">Retour au menu principale</a>
</center>
</body>
</html>