<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="../layout/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../layout/css/style1.css" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Notre équipe</title>
</head>

<body>
    <!--
    <div id="img_header">
    </div>
    -->

    <div id="header">
        <h1>Association de IndiaRose !!</h1>
    </div>

    <div id="menu_top">
        <ul>
            <li><a href="../index.html" class="left level_1"><span>Accueil</span></a></li>
            <li><a href="fournisseur.html" class="level_1"><span>Nos fournisseurs</span></a></li>
            <li><a href="liens.html" class="level_1"><span>Liens utiles</span></a>
            <li><a href="propos.html" class="level_1"><span>A propos IndiaRose</span></a>
            <li><a href="equipe.html" class="level_1"><span>Notre équipe</span></a>
            <li><a href="contact.html" class="right level_1"><span>Nous contacter</span></a></li>
        </ul>
    </div>

    <div id="left_menu">
        <div id="cnx">
            <span>IndiaRose</span>
            <table>
                <tr>
                    <td><label id="Login">Login</label></td>
                    <td><input type="text" name="login" /></td>
                </tr>
                <tr>
                    <td><label id="Password">Password</label></td>
                    <td><input type="password" name="pass" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="con" value="Se connecter"/></td>
                 </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="ins" value="S'inscrire"/></td>
                </tr>
            </table>
        </div>
        <div id="suivi">
            <span>Suivez-nous sur : </span>
            <table>
                <tr>
                    <td><a href="https://www.facebook.com/pages/India-Rose/403964423070474?fref=ts" target="_blank"><img src="../layout/images/f.jpg" width="35px" height="35px" /></a></td>
                    <td><a href="http://instagram.com/" target="_blank"><img src="../layout/images/i.png" width="35px" height="35px" /></a></td>
                    <td><a href="https://twitter.com/IndiaRoseAutism" target="_blank"><img src="../layout/images/t.png" width="35px" height="35px" /></a></td>
                    <td><a href="https://fr.linkedin.com/" target="_blank"><img src="../layout/images/link.jpeg" width="35px" height="35px" /></a></td>
                    <td><a href="http://fr.viadeo.com/fr/" target="_blank"><img src="../layout/images/v.jpg" width="35px" height="35px" /></a></td>
                </tr>
            </table>
        </div>
    </div>
    <!--
    <div id="menu">
        <div id="sous_menu">
            <ul>
                <li><a href="#" class="level_1"><span>Gestion indiagram</span></a></li>
                <li><a href="#" class="level_1"><span>Gestion catégorie</span></a></li>
            </ul>
        </div>
    </div>
    -->
    <div id="content">
        <table>
            <tr>
                <td>
                    <img src="../layout/images/e1.jpg" width="500px" height="900px" alt="Nouveau !" />
                </td>
                <td>
                    <h2 class="stl">Equipe directrice </h2>
                    <ul>
                        <li>Julien Mialon</li>
                        <li>Anthony Froissant</li>
                        <li>José Martins</li>
                        <li>Julien De Sousa</li>
                    </ul>
                    <h2 class="stl">Développement Android actuel </h2>
                    <ul>
                        <li>Florent Champigny</li>
                        <li>Kevin De Jesus Ferreira</li>
                        <li>Alexandre Masson</li>
                        <li>Tristan Monedière</li>
                    </ul>
                    <h2 class="stl">Encadrant</h2>
                    <ul>
                        <li>Wadoud Bousdira</li>
                        <li>Sylvain Jubertie</li>
                        <li>Catherine Julié-Bonnet</li>
                        <li>Frédéric Moal</li>
                    </ul>
                    <h2 class="stl">Ancienne équipe Android 2012</h2>
                    <ul>
                        <li>Jordan Fontorbe</li>
                        <li>Arthur Guillaume</li>
                        <li>Léa Muracciole</li>
                    </ul>
                    <h2 class="stl">Ancienne équipe cloud 2011</h2>
                    <ul>
                        <li>Fabienne Bruneau</li>
                        <li>Alexis Fleuriet</li>
                        <li>François Lecugy</li>
                        <li>Mélanie Pothain</li>
                        <li>Adrien Tremblay</li>
                    </ul>
                    <h2 class="stl">Ancienne équipe Android 2011</h2>
                    <ul>
                        <li>Matthias David</li>
                        <li>Quentin Duplaix</li>
                        <li>Pauline Lopez</li>
                        <li>Quentin Malot</li>
                        <li>Cyprien Ruelle</li>
                        <li>Heloise Suleiman</li>
                    </ul>
                    <h2 class="stl">Ancienne équipe windows 8 2011</h2>
                    <ul>
                        <li>Corentin Barruet</li>
                        <li>Florent Monin</li>
                        <li>Benjamin Remy</li>
                        <li>Benjamin Rousseau</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div id="footer">
        <p>
            <img src="../layout/images/ir.png" width="70px" height="40px" />
            <a href="../index.html">Accueil</a> -
            <a href="fournisseur.html">Nos fournisseurs</a> -
            <a href="liens.html">Liens utiles</a> -
            <a href="propos.html">A propos IndiaRose</a> -
            <a href="equipe.html">Notre équipe</a> -
            <a href="contact.html">Nous contacter</a>
            <br />
            Developed by <a href="http://ma.viadeo.com/fr/profile/el-mehdi.fahim" target="_blank"><span>Fahim El Mehdi</a></span> &nbsp;&nbsp;&nbsp; ©2014 IndiaRose Association
        </p>
    </div>
</body>
</html>