<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="../layout/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../layout/css/style1.css" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Liens utiles</title>
</head>

<body>
    <!--
    <div id="img_header">
    </div>
    -->
    <div id="header">
        <h1>Association de IndiaRose !!</h1>
    </div>

    <div id="menu_top">
        <ul>
            <li><a href="../index.html" class="left level_1"><span>Accueil</span></a></li>
            <li><a href="fournisseur.html" class="level_1"><span>Nos fournisseurs</span></a></li>
            <li><a href="liens.html" class="level_1"><span>Liens utiles</span></a>
            <li><a href="propos.html" class="level_1"><span>A propos IndiaRose</span></a>
            <li><a href="equipe.html" class="level_1"><span>Notre équipe</span></a>
            <li><a href="contact.html" class="right level_1"><span>Nous contacter</span></a></li>
        </ul>
    </div>

    <div id="left_menu">
        <div id="cnx">
            <span>IndiaRose</span>
            <table>
                <tr>
                    <td><label id="Login">Login</label></td>
                    <td><input type="text" name="login" /></td>
                </tr>
                <tr>
                    <td><label id="Password">Password</label></td>
                    <td><input type="password" name="pass" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="con" value="Se connecter"/></td>
                 </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="ins" value="S'inscrire"/></td>
                </tr>
            </table>
        </div>
        <div id="suivi">
            <span>Suivez-nous sur : </span>
            <table>
                <tr>
                    <td><a href="https://www.facebook.com/pages/India-Rose/403964423070474?fref=ts" target="_blank"><img src="../layout/images/f.jpg" width="35px" height="35px" /></a></td>
                    <td><a href="http://instagram.com/" target="_blank"><img src="../layout/images/i.png" width="35px" height="35px" /></a></td>
                    <td><a href="https://twitter.com/IndiaRoseAutism" target="_blank"><img src="../layout/images/t.png" width="35px" height="35px" /></a></td>
                    <td><a href="https://fr.linkedin.com/" target="_blank"><img src="../layout/images/link.jpeg" width="35px" height="35px" /></a></td>
                    <td><a href="http://fr.viadeo.com/fr/" target="_blank"><img src="../layout/images/v.jpg" width="35px" height="35px" /></a></td>
                </tr>
            </table>
        </div>
    </div>
    <!--
    <div id="menu">
        <div id="sous_menu">
            <ul>
                <li><a href="#" class="level_1"><span>Gestion indiagram</span></a></li>
                <li><a href="#" class="level_1"><span>Gestion catégorie</span></a></li>
            </ul>
        </div>
    </div>
    -->
    <div id="content">
        Nous espérons avoir répondu au mieux aux diﬀérentes questions que vous vous posez sur l’application India Rose pour Android, toutefois, si ces explications ne vous ont pas suﬃt, ou si vous souhaitez suivre l’avancement du projet, ou pour toute autre question sur India Rose, voici la liste d’un certain nombre de sites internet qui devrait répondre plus en détail à vos attentes.
        <br />
        <ul>
            <li>le Blog : <a href="http://blog.indiarosepub.tuxfamily.org/" target="_blank">Blog IndiaRose</a></li>
            <li>Le forum en cas de demande d'aide : <a href="http://forum.indiarose.org/" target="_blank">Forum IndiaRose</a></li>
            <li>La page Facebook du projet : <a href="https://www.facebook.com/teamindiarose" target="_blank">Facebook IndiaRose</a></li>
        </ul>
        Si vous voulez en savoir plus sur l’initiative prise par le projet India Rose, sa parcours jusqu’à présent et son évolution, nous vous proposons de consulter les liens suivants :
        <ul>
            <li><a href="http://www.pcinpact.com/news/64576-imagine-cup-india-rose-autistes-tablettes-tactiles.htm" target="_blank">http://www.pcinpact.com/news/64576-imagine-cup-india-rose-autistes-tablettes-tactiles.htm</a></li>
            <li><a href="http://protuts.net/imagine-cup-2011-india-rose-presentation-equipe-mspsmt/" target="_blank">http://protuts.net/imagine-cup-2011-india-rose-presentation-equipe-mspsmt/</a></li>
            <li><a href="http://www.educavox.fr/Comment-aider-des-enfants-autistes" target="_blank">http://www.educavox.fr/Comment-aider-des-enfants-autistes</a></li>
            <li><a href="http://www.rslnmag.fr/post/2011/07/05/Comment-aider-des-enfants-autistes-avec-les-nouvelles-technos-.aspx" target="_blank">http://www.rslnmag.fr/post/2011/07/05/Comment-aider-des-enfants-autistes-avec-les-nouvelles-technos-.aspx</a></li>
            <li><a href="http://madame.leﬁgaro.fr/societe/sur-notre-podium-190911-172951" target="_blank">http://madame.leﬁgaro.fr/societe/sur-notre-podium-190911-172951</a></li>
            <li><a href="http://www.musabulle.fr" target="_blank">http://www.musabulle.fr</a></li>
        </ul>
        et pour ﬁnir, vous pouvez consulter un reportage passé sur France 3, où nous parlons du projet IndiaRose:
        <ul>
            <li><a href="http://www.youtube.com/watch?v=DPGonEMlg7U" target="_blank">http://www.youtube.com/watch?v=DPGonEMlg7U</a></li>
        </ul>
    </div>

    <div id="footer">
        <p>
            <img src="../layout/images/ir.png" width="70px" height="40px" />
            <a href="../index.html">Accueil</a> -
            <a href="fournisseur.html">Nos fournisseurs</a> -
            <a href="liens.html">Liens utiles</a> -
            <a href="propos.html">A propos IndiaRose</a> -
            <a href="equipe.html">Notre équipe</a> -
            <a href="contact.html">Nous contacter</a>
            <br />
            Developed by <a href="http://ma.viadeo.com/fr/profile/el-mehdi.fahim" target="_blank"><span>Fahim El Mehdi</a></span> &nbsp;&nbsp;&nbsp; ©2014 IndiaRose Association
        </p>
    </div>
</body>
</html>