<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="../layout/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../layout/css/style1.css" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>A propos d'IndiaRose</title>
</head>

<body>
    <!--
    <div id="img_header">
    </div>
    -->
    <div id="header">
        <h1>Association de IndiaRose !!</h1>
    </div>

    <div id="menu_top">
        <ul>
            <li><a href="../index.html" class="left level_1"><span>Accueil</span></a></li>
            <li><a href="fournisseur.html" class="level_1"><span>Nos fournisseurs</span></a></li>
            <li><a href="liens.html" class="level_1"><span>Liens utiles</span></a>
            <li><a href="propos.html" class="level_1"><span>A propos IndiaRose</span></a>
            <li><a href="equipe.html" class="level_1"><span>Notre équipe</span></a>
            <li><a href="contact.html" class="right level_1"><span>Nous contacter</span></a></li>
        </ul>
    </div>

    <div id="left_menu">
        <div id="cnx">
            <span>IndiaRose</span>
            <table>
                <tr>
                    <td><label id="Login">Login</label></td>
                    <td><input type="text" name="login" /></td>
                </tr>
                <tr>
                    <td><label id="Password">Password</label></td>
                    <td><input type="password" name="pass" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="con" value="Se connecter"/></td>
                 </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="ins" value="S'inscrire"/></td>
                </tr>
            </table>
        </div>
        <div id="suivi">
            <span>Suivez-nous sur : </span>
            <table>
                <tr>
                    <td><a href="https://www.facebook.com/pages/India-Rose/403964423070474?fref=ts" target="_blank"><img src="../layout/images/f.jpg" width="35px" height="35px" /></a></td>
                    <td><a href="http://instagram.com/" target="_blank"><img src="../layout/images/i.png" width="35px" height="35px" /></a></td>
                    <td><a href="https://twitter.com/IndiaRoseAutism" target="_blank"><img src="../layout/images/t.png" width="35px" height="35px" /></a></td>
                    <td><a href="https://fr.linkedin.com/" target="_blank"><img src="../layout/images/link.jpeg" width="35px" height="35px" /></a></td>
                    <td><a href="http://fr.viadeo.com/fr/" target="_blank"><img src="../layout/images/v.jpg" width="35px" height="35px" /></a></td>
                </tr>
            </table>
        </div>
    </div>
    <!--
    <div id="menu">
        <div id="sous_menu">
            <ul>
                <li><a href="#" class="level_1"><span>Gestion indiagram</span></a></li>
                <li><a href="#" class="level_1"><span>Gestion catégorie</span></a></li>
            </ul>
        </div>
    </div>
    -->
    <div id="content">
        <h2>Le problème</h2>
        L’autisme est un trouble du développement qui modifie l’organisation des neurones du cerveau. Ce trouble est caractérisé par de nombreux signes, dont des troubles du langage, l’hyperactivité ou hypoactivité, la violence contre les autres ou soi-même (automutilation), l’anxiété ou une frustration latente. Bien que 10 à 40% des cas d’autisme soient dus à des conditions génétiques, les causes sont encore inconnues pour une grande majorité des personnes atteintes. Pour de nombreux autistes, la communication est difficile et, dans certains cas, réduite à presque rien.
        <h2>L’idée</h2>
        Tout a commencé avec une rencontre. La rencontre entre une famille avec des enfants autistes (et beaucoup de besoins) et la technologie. D’une part, les enfants souffrant de problèmes de communication, et d’autre part, des informations de plus en plus innovantes et les technologies de communication. Lorsque ces deux mondes s’unissent, la technologie s’efface au profit de la communication de l’enfant.
        <h2>Le contexte</h2>
        Le projet a été développé avec l’aide des familles engagées dans la cause, et qui ont fait de l’application la leur, en contribuant au moment du design (en particulier en ce qui concerne l’interface utilisateur graphique, la personnalisation, le partage et les aspects de connectivité). India Rose est le pont entre leurs besoins et la technologie. Une cause majeure pour les enfants … et pour leurs parents.
        <h2>La solution</h2>
        L’avènement de la science informatique, en particulier la technologie à écran tactile, fournit de nouveaux moyens pour rendre la communication plus accessible aux enfants et à réduire le fardeau des parents. Grâce à un système basé sur les images, l’enfant peut interagir avec son environnement et peut être compris par tout le monde. Il devient un joueur actif, et commence à évoluer, à se structurer et se construire. L’enfant exprime ses besoins en utilisant des images classées par catégories: les objets, les actions, les gens, etc. La sélection est faite en utilisant une interface tactile intuitive, qui est entièrement personnalisable au handicap des enfants. Un synthétiseur vocal réagit aux gestes de l’enfant: l’association des graphismes et des sons lui permet de faire le rapprochement entre le mot et l’image, en outre développer ses compétences orales. Il sert également à avertir les adultes, dont l’attention est nécessaire à ce stade.
    </div>

    <div id="footer">
        <p>
            <img src="../layout/images/ir.png" width="70px" height="40px" />
            <a href="../index.html">Accueil</a> -
            <a href="fournisseur.html">Nos fournisseurs</a> -
            <a href="liens.html">Liens utiles</a> -
            <a href="propos.html">A propos IndiaRose</a> -
            <a href="equipe.html">Notre équipe</a> -
            <a href="contact.html">Nous contacter</a>
            <br />
            Developed by <a href="http://ma.viadeo.com/fr/profile/el-mehdi.fahim" target="_blank"><span>Fahim El Mehdi</a></span> &nbsp;&nbsp;&nbsp; ©2014 IndiaRose Association
        </p>
    </div>
</body>
</html>