<html>
<head>
    <title>Page Principale</title>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
</head>
<body>
<center>
<h1><u>Gestion des Indiagrams</u></h1>
<form name="frm" method="post" action="indiagram/controler-indiagram.php">
	<input type="submit" name="geti" value="Récupérer IndiaGram" />
	<p />
	<input type="submit" name="createi" value="Créer Indiagram" />
	<p />
	<input type="submit" name="deletei" value="Supprimer IndiaGram" />
</form>
    <a href="../index.html">Retour au menu principale</a>
</center>
</body>
</html>